body {
    background-color: #191919;
    color: #efefef;
}

.App {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 120px;
    background-image: url("../images/night_sky_bg.png");
}

.Titlebar {
    text-align: center;
    margin-bottom: 15px;
}

.AppLogo {
    width: 240px;
}

.Home {
    /* display: flex; */
    justify-content: center;
}

.SimInfo {
    /* flex: 1; */
    /* padding-left: 15vw;
    padding-right: 15vw; */
    /* padding-bottom: 40px; */
    /* width: 100%; */
    display: flex;
    gap: 20px;
    /* height: 30vh; */
    /* align-items: center; */
    justify-content: center;
}

.SimInstr {
    width: calc(50% - 10px);
    /* padding-right: 20px; */
}

.SimCards {
    width: calc(50% - 10px);
    padding-left: 20px;
    padding-top: 30px;
}

.PreviewPane {
    /* padding-left: 15vw;
    padding-right: 15vw; */
    display: flex;
    gap: 40px;
    justify-content: center;
}

.PreviewItem {
    width: calc(50% - 20px);
}

.PreviewItem h4 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.CapturePreview {
    /* flex: 1; */
    width: 100%;
    height: auto;
    aspect-ratio: 1.5 / 1;

    background-color: #6f6f6f;
    align-content: center;
    border-radius: 10px;
    position: relative;
}

.CapturePreview canvas {
    border-radius: 10px;
    width: 100%;
}

.CapturePreview p {
    color: grey;
    padding: 40px;
}

.CaptureImg {
    border-radius: 10px;
}

.CameraBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 60px;
}

.CheckImg {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 600;
}

a {
    color: #efefef;
}

.ObjectInfo {
    text-align: center;
    /* padding: 10px; */
    display: flex;
    gap: 10px;
}

.ObjectImage {
    width: calc((100% - 20px) / 3);
    flex: 1;
}

.ObjectImage p {
    margin: 6px;
    font-weight: 500;
}

.ObjectImage img {
    width: 100%;
    height: auto;
}

.ObjectImage hr {
    width: 20px;
    height: 2px;
    border: none;
    background-color: #efefef;
}

.ImageDesc {
    width: 100%;
    border: 2px solid #efefef;
    align-content: center;
    border-radius: 10px;
    position: relative;
}

.ImageDesc p {
    padding: 12px;
    margin: 0px;
}

.Bottombar {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 30%);
    width: 60%;
    height: 70px;
    text-align: center;
    align-content: center;
    z-index: 10;
    border-radius: 40px;
    box-shadow: 0px -1px 10px rgba(255, 255, 255, 0.2);
    background-color: #191919;
}

/* Bottom bar stuff */

.PlayBtn {
    padding: 15px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.CaptureBtn {
    padding: 15px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ReplayBtn {
    padding: 20px;
    height: 40px;
    position: absolute;
    right: 150px;
    bottom: 0px;
}

.DownloadBtn {
    padding: 15px;
    height: 40px;
    position: absolute;
    right: 100px;
    bottom: 0px;
}

.DownloadLoad {
    position: absolute;
    right: 265px;
    bottom: 20px
}

.BackBtn {
    height: 40px;
    position: absolute;
    padding: 15px;
    left: 0px;
    bottom: 0px
}

.StopBtn {
    height: 40px;
    position: absolute;
    padding: 15px;
    right: 0px;
    bottom: 0px
}

.OrbitBtn {
    padding: 20px;
    height: 40px;
    /* uncomment below for placing next to download */
    /* position: absolute;
    right: 150px;
    bottom: 0px; */
}

/* Camera Page Components */

/* .Camera {
    justify-content: center;
    display: flex;
} */

.CameraPage {
    /* aspect-ratio: 16 / 9; */
    /* background-color: lightgray; */
    align-content: center;
    border-radius: 10px;
    position: relative;
    justify-self: center;
}

#ImageCapture {
    display: block;
}

.Webcam {
    width: 100%;
    border-radius: 10px;
}

.PlayPage {
    align-content: center;
    justify-self: center;
}

.PlayDiv {
    border: 1px solid #1e1e1e;
    border-radius: 10px;
}

.PlayCanvas {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    background-color: #6f6f6f;
}

